body,html{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: H01;
	src: url('../font/KozGoPro-Light.otf');
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
		 font-family: H01;
}
/*----------第一區--------------*/
.block01{
	width: 100%;
	height: 500px;
	color: white;
	font-family: H01;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	text-align: center;
	padding: 170px 400px;
}
.h01{
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 3px;
}
hr{
	width: 350px;
}
.h02{
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 3px;
}
/*---------第二區------------*/
.block02{
	width: 100%;
	height: 240px;
	margin-bottom:10px;
}
h2{
	margin-top: 40px;
	text-align: center;
	letter-spacing: 3px;
}
.content_text{
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 16px;
	margin: 30px auto;
	padding: 0 50px;
}
.box{
	float: left;
	width: 150px;
	height: 100px;
	border: 1px solid #555555;
	margin-right: 50px;
    color: black;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.box:hover{
	background-image: url('../img/bg02.jpg');
    color: white;
}
/*----設定連結---*/
a{
	text-decoration: none;
	color: black;
}
a:visted {
	color: black;
}
/*----設定連結 END---*/
