@charset="utf-8";

/*iphone*/

@media screen and (min-width: 320px) and (max-width: 480px) {
	/*nav*/
        .menu {
            display: none;
        }
        /*****header******/
        .container {
            width: 93%;
            height: 900px;
            margin: 0 auto;
            padding-top: 150px;
        }
        /*TITLE*/
        .rt01,
        .rt02 {
            padding: 0;
            text-align: center;
            font-size: 300%;
        }
        .rp {
            font-size: 120%;
            padding: 0 100px;
            line-height: 45px;
        }
        /*button*/
        .join_box {
            margin-top: 30px;
            text-align: center;
        }
        /******voyager******/
        .sec-container {
            width: 93%;
            height: 1700px;
            margin: 0 auto;
            padding-top: 130px;
        }
        .picbox {display: none;

        }
        .text-box01 {
            padding: 0 0 0 200px;
        }
        .text-box02,
        .text-box03,
        .text-box04 {
            padding: 0 0 0 200px;
        }
        .t03 {
            width: 65%;
        }
        .picbox02 {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            margin-top: 80px;
        }
        .iphone02 {
            width: 500px;
            margin: 0 auto;
            text-align: center;
            display: inline-block;
        }
        .iphone02 img {
            width: 100%;
        }
    }
