/* English version */

@charset="utf-8";
* {
    box-sizing: border-box;
}


/* ----- 設定字型 ----- */

html,
body {
    height: 100%;
    margin: 0;
    background-color: #fff;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: F_LIGHT;
    src: url("../fonts/MuseoSans_300-webfont.ttf");
}

@font-face {
    font-family: F_REGULAR;
    src: url("../fonts/NotoSansCJKtc-Medium.otf");
}

@font-face {
    font-family: F_BOLD;
    src: url("../fonts/MuseoSans_500-webfont.ttf");
}

h1 {
    font-size: 330%;
    font-family: F_BOLD;
    letter-spacing: 1px;
}

h2 {
    font-size: 250%;
    font-family: F_BOLD;
    letter-spacing: 3px;
}

h3 {
    font-size: 200%;
    font-family: F_BOLD;
    letter-spacing: 1px;
}

h4 {
    font-size: 190%;
    font-family: F_BOLD;
}

h6 {
    font-size: 150%;
    font-family: F_BOLD;
    letter-spacing: 2px;
}

p {
    font-size: 100%;
    font-family: F_LIGHT;
    letter-spacing: 1px;
    line-height: 30px;
}


/* ----- 設定字型 END ----- */


/* ----- NAV -----*/


/* The navigation bar */

.main_nav {
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    z-index: 50;
    font-family: F_BOLD;
}

.nav_container {
    width: 90%;
    margin: auto;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

.nav-flex {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding-top: 5px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.logo_pic {
    width: 100%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.l_p02 {
    display: none;
}

.logo a {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.logo a:hover {
    opacity: 0.7;
}

.logo a:hover .l_p01 {
    display: none;
}

.logo a:hover .l_p02 {
    display: inline-block;
}

.logo a:active {
    opacity: 0.7;
}


/*menu*/

.menu {
    width: 690px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
}

.m_btn {
    display: inline-block;
    float: left;
    padding: 20px 15px;
    color: grey;
    font-size: 90%;
}

.m_btn a {
    letter-spacing: 0px;
    text-decoration: none;
    color: grey;
    padding: 7px 0px;
    margin-right: 10px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    border-bottom: 2px solid #F5F5F5;
}

.m_btn a:hover {
    color: #19D7C7;
    border-bottom: 2px solid;
}

.m_btn a:active {
    color: #19D7C7;
    border-bottom: 2px solid;
}


/* contact btn */

.nav_contact_container {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
}

.nav_so_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-right: 10px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    display: -moz-flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -moz-flex-direction: row;
    -moz-flex-wrap: nowrap;
}

.mail_icon {
    width: 30px;
    margin-right: 8px;
}

.ig_icon {
    width: 30px;
    margin-right: 3px;
}

.fb_icon {
    width: 37px;
}

.nav_so_icon img {
    width: 100%;
}

.mail_icon,
.ig_icon,
.fb_icon {
    padding-top: 3px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.mail_icon:hover,
.ig_icon:hover,
.fb_icon:hover {
    opacity: 0.5;
}

.mail_icon:active,
.ig_icon:active,
.fb_icon:active {
    opacity: 0.5;
}


/* contact btn */

.nav_contact {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 80%;
    font-family: F_LIGHT;
    letter-spacing: 1px;
    border: 1px black solid;
    border-radius: 50px;
    color: white;
    background-color: black;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.nav_contact:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
}

.nav_contact:active {
    color: black;
    border: 1px solid black;
    background-color: white;
}


/*moblie nav*/

.menu_trigger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 100%;
    z-index: 50;
    position: absolute;
    right: 55px;
    top: 12px;
}

.menu_trigger img {
    width: 100%;
}


/* overlay menu*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.overlay_content {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
}

.phone_menu {
    width: 100%;
    min-height: 100%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.phone_btn a {
    font-family: F_LIGHT;
    padding: 20px 0;
    text-decoration: none;
    font-size: 110%;
    color: #f5f5f5;
    display: block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    letter-spacing: 3px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.phone_btn a:hover,
.phone_btn a:focus {
    color: #19d7c7;
    border-bottom: #19d7c7 2px solid;
}

.closebtn {
    color: #818181;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 59px;
    font-size: 40px;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.closebtn:hover,
.closebtn:focus {
    color: #19d7c7;
}

.phone_en_ch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.phone_en_btn {
    margin-right: 20px;
}

.phone_hr {
    width: 152px;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.phone_hr hr {
    width: 152px;
    height: 1.5px;
    background-color: #f5f5f5;
    border: none;
}


/*////phone social icon////*/

.phone_so_container,
.phone_so_icon {
    width: 150px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 20px;
}

.p_mail_icon,
.p_ig_icon,
.p_fb_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    border: #f5f5f5 2px solid;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.p_mail_icon:hover,
.p_mail_icon:focus,
.p_ig_icon:hover,
.p_ig_icon:focus,
.p_fb_icon:hover,
.p_fb_icon:focus {
    border: #19d7c7 2px dashed;
}

.p_mail_icon img {
    width: 50%;
}

.p_ig_icon img {
    width: 50%
}

.p_fb_icon img {
    width: 50%;
}

.p_m02,
.p_ig02,
.p_fb02 {
    display: none;
}


/*phone btn hover effect*/


/*mail*/

.p_mail_icon:hover .p_m01 {
    display: none;
}

.p_mail_icon:hover .p_m02 {
    display: inline-block;
}


/*ig*/

.p_ig_icon:hover .p_ig01 {
    display: none;
}

.p_ig_icon:hover .p_ig02 {
    display: inline-block;
}


/*fb*/

.p_fb_icon:hover .p_fb01 {
    display: none;
}

.p_fb_icon:hover .p_fb02 {
    display: inline-block;
}


/* ----- Header -----*/

header {
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*外框*/

.h_container {
    width: 93%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*title*/

.h_title {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-shadow: 1px 1px 10px #8E8E8E;
}

.h_notes {
    font-family: F_BOLD;
    font-size: 120%;
    letter-spacing: 2px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 50px;
    text-shadow: 1px 1px 5px #8E8E8E;
}

.hr01,
.hr02 {
    width: 280px;
    height: 20px;
}

.hr01 hr,
.hr02 hr {
    width: 200px;
    height: 1.5px;
    border: none;
    background-color: white;
}


/*------- SECTION ------*/


/* // content box 01 - levooya introduce //*/

.wrapper_levooya {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}

.container_levooya {
    width: 70%;
    height: 400px;
    margin: auto;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
}

.levooya_title {
    margin-bottom: 50px;
}


/* get access btn*/

.access_btn {
    width: 250px;
    height: 50px;
    color: white;
    border: white 2px solid;
    text-decoration: none;
    font-family: F_BOLD;
    font-size: 80%;
    border-radius: 50px;
    background-color: #19D7C7;
    margin-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
}

.access_btn img {
    display: none;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.access_btn:hover img {
    display: inline-block;
    width: 18px;
}

.access_btn:hover {
    border: #19D7C7 2px solid;
    background-color: white;
    color: #19D7C7;
}

.access_btn:hover .access_btn_p {
    margin-right: 20px;
}


/*// content box 02 - product pic //*/

.wrapper_product {
    background-image: url('../img/Body/wave.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    height: 650px;
    min-width: 100%;
}


/*product pic*/

.container_product {
    width: 100%;
    margin: auto;
    position: relative;
}

.picbox_iphone {
    width: 330px;
    position: absolute;
    left: 50%;
    margin-left: -165px;
    top: 30px;
}

.iphone_white {
    width: 100%;
    z-index: -10;
}

.product_text {
    width: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -50px;
    font-family: F_LIGHT;
    color: black;
    font-size: 110%;
    text-align: center;
    z-index: 2;
}

.product_name {
    width: 200px;
    position: absolute;
    bottom: 27%;
    left: 50%;
    margin-left: -100px;
    font-family: F_LIGHT;
    color: black;
    font-size: 100%;
    text-align: center;
    z-index: 2;
}

.product_pic {
    position: absolute;
    width: 220px;
    height: 220px;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -110px;
}


/*// content box 03 - app title //*/

.wrapper_app {
    width: 100%;
    height: 150px;
    background-color: #b0f1eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.app_title {
    letter-spacing: 1px;
}

.app_text {
    font-size: 80%;
    font-family: F_BOLD;
    margin-top: 10px;
}

.color_green {
    width: 100%;
    height: 100px;
    background-color: #b0f1eb;
}


/*// content box 04 -  three icon //*/

.icon_wrapper {
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.icon_container {
    width: 70%;
    margin: 0 auto;
    height: 300px;
    position: relative;
    top: -60px;
}


/* icon pic */

.icon_picbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.iconpic {
    width: 120px;
    height: 120px;
    display: inline-block;
}

.iconpic img {
    width: 100%;
}


/* icon dot line */

.dot_line {
    width: 100%;
    height: 20px;
    position: relative;
    margin: 20px 0;
}

.icon_line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20px;
    padding: 0 60px;
    display: inline-block;
}

.dash_line {
    width: 100%;
    margin: 0 auto;
    height: 12px;
    border-bottom: dotted 4px #d6d8d8;
    opacity: 0.6;
}

.dot_container {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 20px;
}

.dot_flex {
    width: 100%;
    height: 20px;
    padding: 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 99px;
    background-color: #24d8ca;
    border: none;
}


/* icon text */

.icon_text {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_box {
    width: 120px;
    /* width same with icon pic*/
    text-align: center;
    font-family: F_BOLD;
    color: #24d8ca;
}


/*// content box 05 - describe section //*/

.wrapper_describe {
    width: 100%;
    height: 400px;
}

.container_describe {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.describe_box {
    width: 300px;
    height: 320px;
    border: 0.1px #E0E0E0 solid;
    box-shadow: 1px 1px 5px #E0E0E0;
}

.box_title {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    line-height: 60px;
    color: white;
    font-family: F_LIGHT;
    font-size: 110%;
}

.box_content {
    width: 100%;
    height: 180px;
    padding: 35px 50px 0 50px;
    text-align: left;
    line-height: 30px;
    color: #8E8E8E;
    font-family: F_LIGHT;
    font-size: 95%;
    letter-spacing: 0.5px;
}

.box_btn {
    position: relative;
    width: 100%;
}

.box_ac_btn {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}


/*// content box 06 - introduction section //*/

.wrapper_introduc {
    width: 100%;
    min-height: 100%;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container_intro {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro_left,
.intro_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*left*/

.intro_left {
    width: 50%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.intro_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    background-color: #fff;
    box-shadow: 1px 1px 75px #E0E0E0;
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.intro_title {
    width: 100%;
    font-family: F_BOLD;
    color: #2ae2d2;
    font-size: 140%;
    padding: 0px 50px 0 50px;
}

.intro_content {
    padding: 10px 50px 0 50px;
    font-family: F_LIGHT;
    font-size: 95%;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #8E8E8E;
}


/* right */

.intro_right {
    width: 45%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.intro_right_title {
    width: 100%;
    height: 50px;
    color: #8E8E8E;
    font-size: 230%;
    font-family: F_BOLD;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.intro_right_content {
    color: #ADADAD;
    width: 100%;
    font-size: 130%;
    font-family: F_BOLD;
    letter-spacing: 0.5px;
    padding-left: 3px;
    margin-bottom: 25px;
}


/*right icon*/

.intro_right_iconbox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.intro_btn {
    width: 55px;
    margin-right: 30px;
}

.intro_btn img {
    width: 100%;
}


/*// content box 07 - Download //*/

.wrapper_download {
    width: 100%;
    min-height: 100%;
    background-color: black;
    border-bottom: 2px white solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.download_pic01 {
    width: 120px;
}

.download_pic01 img {
    width: 100%;
}


/*download title*/

.download_title {
    font-family: F_LIGHT;
    color: white;
    text-align: center;
    margin: 50px 0 30px 0;
    font-size: 270%;
    letter-spacing: 1.2px;
}

.download_content {
    font-size: 120%;
    font-family: F_LIGHT;
    color: white;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 60px;
}


/*app store pic*/

.app_store_icon {
    width: 200px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
}

.app_store_icon img {
    width: 70%;
}

.app_store_icon:hover {
    opacity: 0.9;
}


/*//  Footer //*/

footer {
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 15px;
}

.wrapper_foo {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: F_LIGHT;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}


/* left */

.fo_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fo_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    padding: 0 30px 0 0;
}

.fo_logo img {
    width: 35%;
}

.fo_t01,
.fo_t02 {
    font-size: 70%;
    color: white;
    letter-spacing: 1.3px;
    margin-right: 20px;
}


/* right */

.fo_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 70px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
}

.fo_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* fo_img*/


/* img link setting */

.so_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: -moz-flex;
    -moz-flex-direction: row;
}

.ig_a a,
.fb_a a {
    width: 30px;
    height: 30px;
    border-radius: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
    display: -moz-flex;
    -moz-justify-content: center;
    -moz-align-items: center;
    -moz-flex-direction: row;
}

.ig_w {
    display: block;
    width: 15px;
}

.fb_w {
    display: block;
    width: 8px;
}

.ig_ac,
.fb_ac {
    display: none;
}

.ig_a a:hover .ig_w {
    display: none;
}

.ig_a a:hover .ig_ac {
    display: block;
    width: 15px;
}

.ig_a a:hover {
    background-color: white;
}

.fb_a a:hover .fb_w {
    display: none;
}

.fb_a a:hover .fb_ac {
    display: block;
    width: 8px;
}

.fb_a a:hover {
    background-color: white;
}


/* fo_contact*/

.fo_contact a {
    font-size: 80%;
    letter-spacing: 2px;
    border-radius: 19px;
    padding: 2px 25px 4px 25px;
    color: white;
    text-decoration: none;
    border: 2px white solid;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.fo_contact a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


/*-------------FLEX RWD -------------*/
