/* /// SLIDE /// */

#slider {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    .slides {
        width: calc(100%*4);
        height: 100%;
        margin: 0;
        padding: 0;
        display: block;
        li {
            width: calc(100%/4);
            height: 100%;
            text-decoration: none;
            display: block;
            background: center center;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            float: left;
        }
        li:nth-child(1) {
            background-image: url('../img/IntroPic/header01.jpg');
        }
        li:nth-child(2) {
            background-image: url('../img/IntroPic/header02.jpg');
        }
        li:nth-child(3) {
            background-image: url('../img/IntroPic/header03.jpg');
        }
        li:nth-child(4) {
            background-image: url('../img/IntroPic/header01.jpg');
        }
    }
}


/* caption */

.caption {
    width: 130px;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
    text-align: center;
    @include ipad {
        margin-left: -32px;
    }
    @include mobile_lg {
        margin-left: -32px;
    }
    @include mobile_s {
        margin-left: -32px;
    }
    @include smallest {
        margin-left: -32px;
    }
}

.caption a {
    width: 9px;
    height: 9px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 99%;
    float: left;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.2s ease-in;
}

#caption1 {
    opacity: 1;
}


/* Slider Titlt */

.h_container {
    width: 93%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/*title*/

.h_title {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-shadow: 1px 1px 10px #8E8E8E;
}

.h_notes {
    font-family: "F_REGULAR";
    font-size: 120%;
    letter-spacing: 2px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 50px;
    text-shadow: 1px 1px 5px #8E8E8E;
    @include smallest {
        justify-content: space-between;
    }
}

.hr01,
.hr02 {
    width: 280px;
    height: 20px;
    @include smallest {
        width: 90px;
    }
}

.hr01 hr,
.hr02 hr {
    width: 200px;
    height: 2px;
    border: none;
    background-color: white;
    @include smallest {
        width: 50px;
    }
}
