/* The navigation bar */

.main_nav {
    width: 100%;
    height: 55px;
    background-color: #fff;
    opacity: 0.9;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    z-index: 50;
    font-family: "F_REGULAR";
    @include bigscreen {
        height: 65px;
    }
    @include mobile_lg {
        height: 45px;
    }
    .nav_container {
        width: 90%;
        margin: auto;
        height: 55px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        @include bigscreen {
            height: 65px;
        }
    }
    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100px;
        padding-top: 5px;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        .logo_pic {
            width: 100%;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
        }
        .l_p02 {
            display: none;
        }
    }
    .logo a {
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }
    .logo a:hover {
        opacity: 0.7;
    }
    .logo a:hover .l_p01 {
        display: none;
    }
    .logo a:hover .l_p02 {
        display: inline-block;
    }
    .logo a:active {
        opacity: 0.7;
    }
    /*menu*/
    .menu {
        width: 690px;
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: flex-end;
        -webkit-align-items: center;
        @include bigscreen {
            margin-left: 65px;
        }
        @include desktop {
            display: none;
        }
        @include ipad {
            display: none;
        }
        @include mobile_lg {
            display: none;
        }
        @include mobile_s {
            display: none;
        }
        @include smallest {
            display: none;
        }
    }
    .m_btn {
        display: inline-block;
        float: left;
        padding: 20px 15px;
        color: $text-color;
        font-size: 90%;
        @include bigscreen {
            font-size: 110%;
        }
    }
    .m_btn a {
        letter-spacing: 0px;
        text-decoration: none;
        color: $text-color;
        padding: 7px 0px;
        margin-right: 10px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        border-bottom: 2px solid $menu-btn-border;
    }
    .m_btn a:hover {
        color: $main-color;
        border-bottom: 2px solid;
    }
    .m_btn a:active {
        color: $main-color;
        border-bottom: 2px solid;
    }
    /* contact btn */
    .nav_contact_container {
        width: 250px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: flex-end;
        -webkit-align-items: center;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: nowrap;
        @include bigscreen {
            width: 300px;
        }
        @include desktop {
            display: none;
        }
    }
    .nav_so_icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-right: 10px;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: nowrap;
        display: -moz-flex;
        -moz-justify-content: center;
        -moz-align-items: center;
        -moz-flex-direction: row;
        -moz-flex-wrap: nowrap;
    }
    .mail_icon {
        width: 30px;
        margin-right: 8px;
        @include bigscreen {
            width: 35px;
            margin-right: 15px;
        }
    }
    .ig_icon {
        width: 30px;
        margin-right: 3px;
        @include bigscreen {
            width: 35px;
            margin-right: 10px;
        }
    }
    .fb_icon {
        width: 37px;
        @include bigscreen {
            width: 42px;
        }
    }
    .nav_so_icon img {
        width: 100%;
    }
    .mail_icon,
    .ig_icon,
    .fb_icon {
        padding-top: 3px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
    }
    .mail_icon:hover,
    .ig_icon:hover,
    .fb_icon:hover {
        opacity: 0.5;
    }
    .mail_icon:active,
    .ig_icon:active,
    .fb_icon:active {
        opacity: 0.5;
    }
    /* contact btn */
    .nav_contact {
        text-decoration: none;
        padding: 10px 25px;
        font-size: 80%;
        font-family: "F_LIGHT";
        letter-spacing: 1px;
        border: 1px black solid;
        border-radius: 50px;
        color: white;
        background-color: black;
        transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        @include bigscreen {
            width: 130px;
            height: 38px;
            text-align: center;
            line-height: 38px;
            padding: 0;
            font-size: 90%;
        }
        @include desktop {
            display: none;
        }
        @include ipad {
            display: none;
        }
        @include mobile_lg {
            display: none;
        }
        @include mobile_s {
            display: none;
        }
        @include smallest {
            display: none;
        }
    }
    .nav_contact:hover {
        color: black;
        border: 1px solid black;
        background-color: $navbg;
    }
    .nav_contact:active {
        color: black;
        border: 1px solid black;
        background-color: $navbg;
    }
    /*moblie nav*/
    .menu_trigger {
        display: none;
        font-size: 30px;
        cursor: pointer;
        width: 30px;
        height: 100%;
        z-index: 50;
        position: absolute;
        right: 55px;
        top: 12px;
        @include desktop {
            display: inline-block;
        }
        @include ipad {
            display: inline-block;
        }
        @include mobile_lg {
            display: inline-block;
            right: 20px;
            height: 30px;
            top: 10px;
        }
        @include mobile_s {
            display: inline-block;
            right: 20px;
        }
        @include smallest {
            display: inline-block;
            right: 20px;
        }
    }
    .menu_trigger img {
        width: 100%;
    }
}


/* mobile nav overlay menu*/

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    .closebtn {
        color: #818181;
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 59px;
        font-size: 40px;
        transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
    }
    .closebtn:hover,
    .closebtn:focus {
        color: $main-color;
    }
    .overlay_content {
        width: 100%;
        min-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        .phone_menu {
            width: 100%;
            min-height: 100%;
            text-decoration: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            @include mobile_lg {
                padding-top: 45px;
            }
            .phone_btn a {
                font-family: F_LIGHT;
                padding: 20px 0;
                text-decoration: none;
                font-size: 110%;
                color: $phone-btn-color;
                display: block;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
                letter-spacing: 3px;
                margin-bottom: 10px;
                border-bottom: 2px solid rgba(0, 0, 0, 0);
            }
            .phone_btn a:hover,
            .phone_btn a:focus {
                color: $main-color;
                border-bottom: $main-color 2px solid;
            }
            .phone_en_ch {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                text-align: center;
            }
            .phone_en_btn {
                margin-right: 20px;
            }
        }
        .phone_hr {
            width: 152px;
            margin-top: 80px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            hr {
                width: 152px;
                height: 1.5px;
                background-color: $phone-btn-color;
                border: none;
            }
        }
    }
}


/*////phone social icon////*/

.phone_so_container,
.phone_so_icon {
    width: 150px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 20px;
}

.p_mail_icon,
.p_ig_icon,
.p_fb_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    border: $phone-btn-color 2px solid;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.p_mail_icon:hover,
.p_mail_icon:focus,
.p_ig_icon:hover,
.p_ig_icon:focus,
.p_fb_icon:hover,
.p_fb_icon:focus {
    border: $main-color 2px dashed;
}

.p_mail_icon img {
    width: 50%;
}

.p_ig_icon img {
    width: 50%
}

.p_fb_icon img {
    width: 50%;
}

.p_m02,
.p_ig02,
.p_fb02 {
    display: none;
}


/*phone btn hover effect*/


/*mail*/

.p_mail_icon:hover .p_m01 {
    display: none;
}

.p_mail_icon:hover .p_m02 {
    display: inline-block;
}


/*ig*/

.p_ig_icon:hover .p_ig01 {
    display: none;
}

.p_ig_icon:hover .p_ig02 {
    display: inline-block;
}


/*fb*/

.p_fb_icon:hover .p_fb01 {
    display: none;
}

.p_fb_icon:hover .p_fb02 {
    display: inline-block;
}
