* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    display: block;
    margin-top: 3px;
}


/*超大螢幕*/

@media screen and (min-width: 1280px) {
    .col-mlg-1 {
        width: 8.33%;
    }
    .col-mlg-2 {
        width: 16.66%;
    }
    .col-mlg-3 {
        width: 25%;
    }
    .col-mlg-4 {
        width: 33.33%;
    }
    .col-mlg-5 {
        width: 41.66%;
    }
    .col-mlg-6 {
        width: 50%;
    }
    .col-mlg-7 {
        width: 58.33%;
    }
    .col-mlg-8 {
        width: 66.66%;
    }
    .col-mlg-9 {
        width: 75%;
    }
    .col-mlg-10 {
        width: 83.33%;
    }
    .col-mlg-11 {
        width: 91.66%;
    }
    .col-mlg-12 {
        width: 100%;
    }
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}


/*筆電/PC*/

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}


/*ipad 橫*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .col-pad1-1 {
        width: 8.33%;
    }
    .col-pad1-2 {
        width: 16.66%;
    }
    .col-pad1-3 {
        width: 25%;
    }
    .col-pad1-4 {
        width: 33.33%;
    }
    .col-pad1-5 {
        width: 41.66%;
    }
    .col-pad1-6 {
        width: 50%;
    }
    .col-pad1-7 {
        width: 58.33%;
    }
    .col-pad1-8 {
        width: 66.66%;
    }
    .col-pad1-9 {
        width: 75%;
    }
    .col-pad1-10 {
        width: 83.33%;
    }
    .col-pad1-11 {
        width: 91.66%;
    }
    .col-pad1-12 {
        width: 100%;
    }
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}


/*ipad 直*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .col-pad2-1 {
        width: 8.33%;
    }
    .col-pad2-2 {
        width: 16.66%;
    }
    .col-pad2-3 {
        width: 25%;
    }
    .col-pad2-4 {
        width: 33.33%;
    }
    .col-pad2-5 {
        width: 41.66%;
    }
    .col-pad2-6 {
        width: 50%;
    }
    .col-pad2-7 {
        width: 58.33%;
    }
    .col-pad2-8 {
        width: 66.66%;
    }
    .col-pad2-9 {
        width: 75%;
    }
    .col-pad2-10 {
        width: 83.33%;
    }
    .col-pad2-11 {
        width: 91.66%;
    }
    .col-pad2-12 {
        width: 100%;
    }
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}


/*iPhone*/

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}
