/*color*/

$main-color: #19D7C7;
$menu-btn-border: rgba(255, 255, 255, 0.9);
$navbg: #ffffff;
$phone-btn-color: #f5f5f5;
$text-color: #7B7B7B;
@include font-face("F_LIGHT", font-files("MuseoSans_300.svg", "MuseoSans_300.ttf", "MuseoSans_300.woff", "MuseoSans_300.woff2", "MuseoSans_300.eot"));
@include font-face("F_REGULAR", font-files("MuseoSans_500.svg", "MuseoSans_500.ttf", "MuseoSans_500.woff", "MuseoSans_500.woff2", "MuseoSans_500.eot"));
@include font-face("F_LIGHT_CH", font-files("NotoSansCJKtc-Light.otf"));
@include font-face("F_REGULAR_CH", font-files("NotoSansCJKtc-Medium.otf"));
* {
    box-sizing: border-box;
}


/* mixin flex*/

%display_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

%justify_content_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

%justify_content_flex_start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

%justify_content_space_between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%justify_content_space_around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

%align_items_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* mixin end */

body,
html {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 200%;
    font-family: "F_REGULAR_CH";
    letter-spacing: 2px;
    @include bigscreen {
        font-size: 230%;
    }
    @include desktop {
        font-size: 220%;
    }
    @include ipad {
        font-size: 190%;
    }
    @include mobile_lg {
        font-size: 170%;
    }
    @include mobile_s {
        font-size: 170%;
    }
    @include smallest {
        font-size: 150%;
    }
}

p {
    font-size: 110%;
    font-family: "F_LIGHT_CH";
    letter-spacing: 5px;
    @include bigscreen {
        font-size: 140%;
    }
    @include desktop {
        font-size: 100%;
    }
    @include ipad {
        font-size: 90%;
        letter-spacing: 3px;
    }
    @include mobile_lg {
        font-size: 85%;
        letter-spacing: 3px;
    }
    @include mobile_s {
        font-size: 80%;
    }
    @include smallest {
        font-size: 85%;
        letter-spacing: 1.8px;
    }
}

.p_en_seller {
    font-family: "F_LIGHT";
    letter-spacing: 1px;
    @include bigscreen {
        font-size: 140%;
    }
    @include desktop {
        font-size: 100%;
    }
    @include ipad {
        font-size: 90%;
        letter-spacing: 3px;
    }
    @include mobile_lg {
        font-size: 85%;
        letter-spacing: 3px;
    }
    @include mobile_s {
        font-size: 80%;
    }
    @include smallest {
        font-size: 85%;
        letter-spacing: 1.8px;
    }
}
