@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*media queries*/
/*color*/
@font-face {
  font-family: "F_LIGHT";
  src: url('../../../fonts/MuseoSans_300.svg') format('svg'), url('../../../fonts/MuseoSans_300.ttf') format('truetype'), url('../../../fonts/MuseoSans_300.woff') format('woff'), url('../../../fonts/MuseoSans_300.woff2') format('woff2'), url('../../../fonts/MuseoSans_300.eot') format('embedded-opentype');
}
@font-face {
  font-family: "F_REGULAR";
  src: url('../../../fonts/MuseoSans_500.svg') format('svg'), url('../../../fonts/MuseoSans_500.ttf') format('truetype'), url('../../../fonts/MuseoSans_500.woff') format('woff'), url('../../../fonts/MuseoSans_500.woff2') format('woff2'), url('../../../fonts/MuseoSans_500.eot') format('embedded-opentype');
}
@font-face {
  font-family: "F_LIGHT_CH";
  src: url('../../../fonts/NotoSansCJKtc-DemiLight.otf') format('opentype');
}
@font-face {
  font-family: "F_REGULAR_CH";
  src: url('../../../fonts/NotoSansCJKtc-Medium.otf') format('opentype');
}
* {
  box-sizing: border-box;
}

/* flex */
.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bigtitle_wrapper, .question_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 200%;
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  letter-spacing: 2px;
}
@media (min-width: 1880px) {
  h3 {
    font-size: 230%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  h3 {
    font-size: 220%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  h3 {
    font-size: 190%;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  h3 {
    font-size: 170%;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  h3 {
    font-size: 170%;
  }
}
@media (max-width: 399px) {
  h3 {
    font-size: 150%;
  }
}

.h3_ch {
  font-family: "F_REGULAR_CH";
}

p {
  font-size: 110%;
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  letter-spacing: 5px;
}
@media (min-width: 1880px) {
  p {
    font-size: 140%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  p {
    font-size: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  p {
    font-size: 90%;
    letter-spacing: 3px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  p {
    font-size: 85%;
    letter-spacing: 3px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  p {
    font-size: 80%;
  }
}
@media (max-width: 399px) {
  p {
    font-size: 85%;
    letter-spacing: 1.8px;
  }
}

.p_en_seller {
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  letter-spacing: 1px;
}
@media (min-width: 1880px) {
  .p_en_seller {
    font-size: 140%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .p_en_seller {
    font-size: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .p_en_seller {
    font-size: 90%;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .p_en_seller {
    font-size: 85%;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .p_en_seller {
    font-size: 80%;
  }
}
@media (max-width: 399px) {
  .p_en_seller {
    font-size: 85%;
  }
}

/* The navigation bar */
.nav_wrapper,
.nav_wrapper_ch {
  width: 100%;
  height: 55px;
  background-color: #fff;
  opacity: 0.9;
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  z-index: 50;
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  /*menu*/
  /* contact btn */
  /* contact btn */
  /*moblie nav*/
}
@media (min-width: 1880px) {
  .nav_wrapper,
  .nav_wrapper_ch {
    height: 65px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .nav_wrapper,
  .nav_wrapper_ch {
    height: 45px;
  }
}
.nav_wrapper .nav_container,
.nav_wrapper_ch .nav_container {
  width: 90%;
  margin: auto;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
@media (min-width: 1880px) {
  .nav_wrapper .nav_container,
  .nav_wrapper_ch .nav_container {
    height: 65px;
  }
}
.nav_wrapper .nav_container--logo,
.nav_wrapper_ch .nav_container--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.nav_wrapper .nav_container--logo .nav--logo-img,
.nav_wrapper_ch .nav_container--logo .nav--logo-img {
  width: 100%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.nav_wrapper .nav_container--logo .nav--logo2,
.nav_wrapper_ch .nav_container--logo .nav--logo2 {
  display: none;
}
.nav_wrapper .nav_container--logo a,
.nav_wrapper_ch .nav_container--logo a {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.nav_wrapper .nav_container--logo a :hover,
.nav_wrapper_ch .nav_container--logo a :hover {
  opacity: 0.7;
}
.nav_wrapper .nav_container--logo a :hover .nav--logo1,
.nav_wrapper_ch .nav_container--logo a :hover .nav--logo1 {
  display: none;
}
.nav_wrapper .nav_container--logo a :hover .nav--logo2,
.nav_wrapper_ch .nav_container--logo a :hover .nav--logo2 {
  display: inline-block;
}
.nav_wrapper .nav_container--logo a :active,
.nav_wrapper_ch .nav_container--logo a :active {
  opacity: 0.7;
}
.nav_wrapper .nav_container--menu,
.nav_wrapper_ch .nav_container--menu {
  width: 690px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  margin-left: 65px;
}
@media (min-width: 1880px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    width: 720px;
    margin-left: 155px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    display: none;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    display: none;
  }
}
@media (max-width: 399px) {
  .nav_wrapper .nav_container--menu,
  .nav_wrapper_ch .nav_container--menu {
    display: none;
  }
}
.nav_wrapper .m_btn,
.nav_wrapper_ch .m_btn {
  display: inline-block;
  float: left;
  padding: 20px 15px;
  color: #7B7B7B;
  font-size: 90%;
}
@media (min-width: 1880px) {
  .nav_wrapper .m_btn,
  .nav_wrapper_ch .m_btn {
    font-size: 110%;
  }
}
.nav_wrapper .m_btn a,
.nav_wrapper_ch .m_btn a {
  letter-spacing: 0px;
  text-decoration: none;
  color: #7B7B7B;
  padding: 7px 0px;
  margin-right: 10px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}
.nav_wrapper .m_btn a:hover,
.nav_wrapper_ch .m_btn a:hover {
  color: #19D7C7;
  border-bottom: 2px solid;
}
.nav_wrapper .m_btn a:active,
.nav_wrapper_ch .m_btn a:active {
  color: #19D7C7;
  border-bottom: 2px solid;
}
.nav_wrapper .nav_contact_container,
.nav_wrapper_ch .nav_contact_container {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
}
@media (min-width: 1880px) {
  .nav_wrapper .nav_contact_container,
  .nav_wrapper_ch .nav_contact_container {
    width: 300px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .nav_wrapper .nav_contact_container,
  .nav_wrapper_ch .nav_contact_container {
    display: none;
  }
}
.nav_wrapper .nav_so_icon,
.nav_wrapper_ch .nav_so_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-right: 10px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  display: -moz-flex;
  -moz-justify-content: center;
  -moz-align-items: center;
  -moz-flex-direction: row;
  -moz-flex-wrap: nowrap;
}
.nav_wrapper .mail_icon,
.nav_wrapper_ch .mail_icon {
  width: 30px;
  margin-right: 8px;
}
@media (min-width: 1880px) {
  .nav_wrapper .mail_icon,
  .nav_wrapper_ch .mail_icon {
    width: 35px;
    margin-right: 15px;
  }
}
.nav_wrapper .ig_icon,
.nav_wrapper_ch .ig_icon {
  width: 30px;
  margin-right: 3px;
}
@media (min-width: 1880px) {
  .nav_wrapper .ig_icon,
  .nav_wrapper_ch .ig_icon {
    width: 35px;
    margin-right: 10px;
  }
}
.nav_wrapper .fb_icon,
.nav_wrapper_ch .fb_icon {
  width: 37px;
}
@media (min-width: 1880px) {
  .nav_wrapper .fb_icon,
  .nav_wrapper_ch .fb_icon {
    width: 42px;
  }
}
.nav_wrapper .nav_so_icon img,
.nav_wrapper_ch .nav_so_icon img {
  width: 100%;
}
.nav_wrapper .mail_icon,
.nav_wrapper .ig_icon,
.nav_wrapper .fb_icon,
.nav_wrapper_ch .mail_icon,
.nav_wrapper_ch .ig_icon,
.nav_wrapper_ch .fb_icon {
  padding-top: 3px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.nav_wrapper .mail_icon:hover,
.nav_wrapper .ig_icon:hover,
.nav_wrapper .fb_icon:hover,
.nav_wrapper_ch .mail_icon:hover,
.nav_wrapper_ch .ig_icon:hover,
.nav_wrapper_ch .fb_icon:hover {
  opacity: 0.5;
}
.nav_wrapper .mail_icon:active,
.nav_wrapper .ig_icon:active,
.nav_wrapper .fb_icon:active,
.nav_wrapper_ch .mail_icon:active,
.nav_wrapper_ch .ig_icon:active,
.nav_wrapper_ch .fb_icon:active {
  opacity: 0.5;
}
.nav_wrapper .nav_contact,
.nav_wrapper_ch .nav_contact {
  text-decoration: none;
  padding: 10px 25px;
  font-size: 80%;
  font-family: "F_LIGHT";
  letter-spacing: 1px;
  border: 1px black solid;
  border-radius: 50px;
  color: white;
  background-color: black;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
@media (min-width: 1880px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    width: 130px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0;
    font-size: 90%;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    display: none;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    display: none;
  }
}
@media (max-width: 399px) {
  .nav_wrapper .nav_contact,
  .nav_wrapper_ch .nav_contact {
    display: none;
  }
}
.nav_wrapper .nav_contact_ch,
.nav_wrapper_ch .nav_contact_ch {
  font-family: "F_LIGHT_CH";
}
.nav_wrapper .nav_contact:hover,
.nav_wrapper_ch .nav_contact:hover {
  color: black;
  border: 1px solid black;
  background-color: #ffffff;
}
.nav_wrapper .nav_contact:active,
.nav_wrapper_ch .nav_contact:active {
  color: black;
  border: 1px solid black;
  background-color: #ffffff;
}
.nav_wrapper .menu_trigger,
.nav_wrapper_ch .menu_trigger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  height: 100%;
  z-index: 50;
  position: absolute;
  right: 55px;
  top: 12px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .nav_wrapper .menu_trigger,
  .nav_wrapper_ch .menu_trigger {
    display: inline-block;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .nav_wrapper .menu_trigger,
  .nav_wrapper_ch .menu_trigger {
    right: 30px;
    display: inline-block;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .nav_wrapper .menu_trigger,
  .nav_wrapper_ch .menu_trigger {
    display: inline-block;
    right: 20px;
    height: 30px;
    top: 10px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .nav_wrapper .menu_trigger,
  .nav_wrapper_ch .menu_trigger {
    display: inline-block;
    right: 20px;
  }
}
@media (max-width: 399px) {
  .nav_wrapper .menu_trigger,
  .nav_wrapper_ch .menu_trigger {
    display: inline-block;
    right: 20px;
  }
}
.nav_wrapper .menu_trigger img,
.nav_wrapper_ch .menu_trigger img {
  width: 100%;
}

/* chinese ver */
.nav_wrapper_ch {
  font-family: "F_LIGHT_CH";
}

/* mobile nav overlay menu*/
#myNav {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-y: hidden;
}
.overlay .closebtn {
  color: #818181;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 59px;
  font-size: 40px;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .overlay .closebtn {
    right: 26px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .overlay .closebtn {
    right: 26px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .overlay .closebtn {
    top: 6px;
    right: 24px;
  }
}
@media (max-width: 399px) {
  .overlay .closebtn {
    right: 26px;
  }
}
.overlay .closebtn:hover,
.overlay .closebtn:focus {
  color: #19D7C7;
}
.overlay .overlay_content {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}
.overlay .overlay_content .phone_menu {
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 415px) and (max-width: 766px) {
  .overlay .overlay_content .phone_menu {
    padding-top: 0px;
  }
}
.overlay .overlay_content .phone_menu .phone_btn a {
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  padding: 20px 0;
  text-decoration: none;
  font-size: 110%;
  color: #f5f5f5;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  letter-spacing: 3px;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .overlay .overlay_content .phone_menu .phone_btn a {
    font-size: 150%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .overlay .overlay_content .phone_menu .phone_btn a {
    font-size: 120%;
    padding: 10px 0;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .overlay .overlay_content .phone_menu .phone_btn a {
    padding: 10px 0;
  }
}
@media (max-width: 399px) {
  .overlay .overlay_content .phone_menu .phone_btn a {
    padding: 10px 0;
  }
}
.overlay .overlay_content .phone_menu .phone_btn a:hover,
.overlay .overlay_content .phone_menu .phone_btn a:focus {
  color: #19D7C7;
  border-bottom: #19D7C7 2px solid;
}
.overlay .overlay_content .phone_menu .phone_en_ch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.overlay .overlay_content .phone_menu .phone_en_btn {
  margin-right: 20px;
}
.overlay .overlay_content .phone_hr {
  width: 152px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .overlay .overlay_content .phone_hr {
    margin-top: 0px;
    width: 190px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .overlay .overlay_content .phone_hr {
    margin-top: 0px;
    width: 190px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .overlay .overlay_content .phone_hr {
    margin-top: 0px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .overlay .overlay_content .phone_hr {
    margin-top: 0px;
  }
}
@media (max-width: 399px) {
  .overlay .overlay_content .phone_hr {
    margin-top: 0px;
  }
}
.overlay .overlay_content .phone_hr hr {
  width: 152px;
  height: 1.5px;
  background-color: #f5f5f5;
  border: none;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .overlay .overlay_content .phone_hr hr {
    width: 190px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .overlay .overlay_content .phone_hr hr {
    width: 190px;
  }
}

/*////phone social icon////*/
.phone_so_container,
.phone_so_icon {
  width: 150px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 20px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .phone_so_container,
  .phone_so_icon {
    width: 200px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .phone_so_container,
  .phone_so_icon {
    width: 200px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .phone_so_container,
  .phone_so_icon {
    padding-top: 5px;
  }
}

.p_mail_icon,
.p_ig_icon,
.p_fb_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  border: #f5f5f5 2px solid;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.p_mail_icon:hover,
.p_mail_icon:focus,
.p_ig_icon:hover,
.p_ig_icon:focus,
.p_fb_icon:hover,
.p_fb_icon:focus {
  border: #19D7C7 2px dashed;
}

.p_mail_icon img {
  width: 50%;
}

.p_ig_icon img {
  width: 50%;
}

.p_fb_icon img {
  width: 50%;
}

.p_m02,
.p_ig02,
.p_fb02 {
  display: none;
}

/*phone btn hover effect*/
/*mail*/
.p_mail_icon:hover .p_m01 {
  display: none;
}

.p_mail_icon:hover .p_m02 {
  display: inline-block;
}

/*ig*/
.p_ig_icon:hover .p_ig01 {
  display: none;
}

.p_ig_icon:hover .p_ig02 {
  display: inline-block;
}

/*fb*/
.p_fb_icon:hover .p_fb01 {
  display: none;
}

.p_fb_icon:hover .p_fb02 {
  display: inline-block;
}

header {
  background-image: url("../img/help_body.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

/* search container */
.header_search_container {
  width: 70%;
  height: 150px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -35%;
}
@media (min-width: 415px) and (max-width: 766px) {
  .header_search_container {
    width: 90%;
    margin-left: -45%;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_search_container {
    width: 90%;
    margin-left: -45%;
  }
}
@media (max-width: 399px) {
  .header_search_container {
    width: 90%;
    margin-left: -45%;
  }
}

.header_search_title {
  margin-bottom: 30px;
}

.header_search_title_ch {
  margin-left: 25px;
}

.header_searchform {
  width: 400px;
  margin: 0 auto;
  height: 60px;
  position: relative;
}
@media (min-width: 415px) and (max-width: 766px) {
  .header_searchform {
    width: 320px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_searchform {
    width: 280px;
  }
}
@media (max-width: 399px) {
  .header_searchform {
    width: 280px;
  }
}

.header_searchform input[type=search] {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  padding: 5px 30px;
  box-shadow: 1px 1px 5px #d0d0d0;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  transition: 0.5s ease;
  border: 2px solid rgba(211, 211, 211, 0);
}
@media (min-width: 415px) and (max-width: 766px) {
  .header_searchform input[type=search] {
    width: 320px;
    margin-left: -160px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_searchform input[type=search] {
    width: 280px;
    margin-left: -140px;
  }
}
@media (max-width: 399px) {
  .header_searchform input[type=search] {
    width: 280px;
    margin-left: -140px;
  }
}

.header_searchform input[type=search]:focus {
  outline: none;
  border: 2px solid #24d8ca;
}

.header_searchform input[type=submit] {
  width: 100px;
  height: 40px;
  border-radius: 99px;
  background-color: #19D7C7;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  line-height: 35px;
  border: 2px #19D7C7 solid;
  transition: 0.6s ease;
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_searchform input[type=submit] {
    width: 70px;
  }
}
@media (max-width: 399px) {
  .header_searchform input[type=submit] {
    width: 70px;
  }
}

.header_searchform input[type=submit]:hover {
  opacity: 0.6;
}

/* Content Section */
.bigtitle_wrapper {
  width: 100%;
  height: 180px;
  flex-direction: column;
  background-color: #f5f5f5;
}
@media (min-width: 400px) and (max-width: 414px) {
  .bigtitle_wrapper {
    height: 100px;
  }
}
@media (max-width: 399px) {
  .bigtitle_wrapper {
    height: 100px;
  }
}

.bigtitle_line {
  width: 60%;
  height: 2px;
  border: 0;
  background-color: rgba(232, 232, 232, 0.8);
}

/* Q&A CONTENT */
.question_wrapper {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  flex-direction: column;
  padding-bottom: 60px;
}
@media (min-width: 400px) and (max-width: 414px) {
  .question_wrapper {
    padding-bottom: 0px;
  }
}
@media (max-width: 399px) {
  .question_wrapper {
    padding-bottom: 0px;
  }
}

.question_title {
  width: 60%;
}

.question_content {
  width: 60%;
  padding: 10px 80px 50px 80px;
}
@media (min-width: 415px) and (max-width: 766px) {
  .question_content {
    width: 80%;
    padding: 10px 0 50px 0;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .question_content {
    width: 80%;
    padding: 10px 0 50px 0;
  }
}
@media (max-width: 399px) {
  .question_content {
    width: 80%;
    padding: 10px 0 50px 0;
  }
}

.question_container {
  width: 60%;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 60px 30px 60px;
  box-shadow: 1px 1px 10px #CFCFCF;
  margin-bottom: 70px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .question_container {
    width: 70%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .question_container {
    width: 80%;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  .question_container {
    width: 90%;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .question_container {
    width: 90%;
  }
}
@media (max-width: 399px) {
  .question_container {
    width: 90%;
    padding: 20px 20px;
  }
}

.question {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.8);
}

.plus_btn {
  background-color: #19D7C7;
  width: 20px;
  height: 20px;
  line-height: 19px;
  border-radius: 99px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
}
@media (min-width: 400px) and (max-width: 414px) {
  .plus_btn {
    margin-right: 10px;
  }
}
@media (max-width: 399px) {
  .plus_btn {
    margin-right: 10px;
  }
}

.answer {
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.8);
  display: none;
}
@media (min-width: 400px) and (max-width: 414px) {
  .answer {
    padding: 20px 30px;
  }
}
@media (max-width: 399px) {
  .answer {
    padding: 20px 30px;
  }
}

/*//  Footer //*/
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 15px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer {
    height: 150px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer {
    height: 150px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer {
    height: 150px;
  }
}
@media (max-width: 399px) {
  footer {
    height: 150px;
  }
}
footer .wrapper_foo {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: F_LIGHT;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  /* left */
  /* right */
}
@media (min-width: 1024px) and (max-width: 1280px) {
  footer .wrapper_foo {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo {
    flex-direction: column;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo {
    flex-direction: column;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo {
    flex-direction: column;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo {
    flex-direction: column;
  }
}
footer .wrapper_foo .fo_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo .fo_left {
    flex-direction: column;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo .fo_left {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo .fo_left {
    justify-content: center;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo .fo_left {
    justify-content: center;
  }
}
footer .wrapper_foo .fo_left .fo_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  padding: 0 30px 0 0;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo .fo_left .fo_logo {
    justify-content: center;
    padding: 0;
    margin: 5px 0;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo .fo_left .fo_logo {
    justify-content: center;
    padding: 0;
    margin: 5px 0;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo .fo_left .fo_logo {
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo .fo_left .fo_logo {
    justify-content: center;
    padding: 0;
  }
}
footer .wrapper_foo .fo_left .fo_logo img {
  width: 35%;
}
footer .wrapper_foo .fo_left .fo_t01,
footer .wrapper_foo .fo_left .fo_t02 {
  font-size: 70%;
  color: white;
  letter-spacing: 1.3px;
  margin-right: 20px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo .fo_left .fo_t01,
  footer .wrapper_foo .fo_left .fo_t02 {
    margin: 5px 0;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo .fo_left .fo_t01,
  footer .wrapper_foo .fo_left .fo_t02 {
    margin: 5px 0;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo .fo_left .fo_t01,
  footer .wrapper_foo .fo_left .fo_t02 {
    margin: 10px 0px 0 0;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo .fo_left .fo_t01,
  footer .wrapper_foo .fo_left .fo_t02 {
    margin: 10px 0px 0 0;
  }
}
footer .wrapper_foo .fo_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 70px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo .fo_right {
    margin-right: 0;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo .fo_right {
    margin-right: 0;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo .fo_right {
    margin-right: 0;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo .fo_right {
    margin-right: 0;
  }
}
footer .wrapper_foo .fo_right .fo_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* fo_img*/
  /* img link setting */
}
footer .wrapper_foo .fo_right .fo_social .so_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: -moz-flex;
  -moz-flex-direction: row;
}
@media (min-width: 767px) and (max-width: 1023px) {
  footer .wrapper_foo .fo_right .fo_social .so_icon {
    margin: 10px 0 0 10px;
  }
}
@media (min-width: 415px) and (max-width: 766px) {
  footer .wrapper_foo .fo_right .fo_social .so_icon {
    margin: 10px 0 0 10px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  footer .wrapper_foo .fo_right .fo_social .so_icon {
    margin: 10px 0 0 10px;
  }
}
@media (max-width: 399px) {
  footer .wrapper_foo .fo_right .fo_social .so_icon {
    margin: 10px 0 0 10px;
  }
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_a a,
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_a a {
  width: 38px;
  height: 38px;
  border-radius: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: row;
  display: -moz-flex;
  -moz-justify-content: center;
  -moz-align-items: center;
  -moz-flex-direction: row;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_w {
  display: block;
  width: 20px;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_w {
  display: block;
  width: 11px;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_ac,
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_ac {
  display: none;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_a a:hover .ig_w {
  display: none;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_a a:hover .ig_ac {
  display: block;
  width: 20px;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .ig_a a:hover {
  background-color: white;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_a a:hover .fb_w {
  display: none;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_a a:hover .fb_ac {
  display: block;
  width: 11px;
}
footer .wrapper_foo .fo_right .fo_social .so_icon .fb_a a:hover {
  background-color: white;
}

/* main font */
/* --- Header Search --- */
.header_search_title {
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  font-size: 250%;
  color: white;
  text-shadow: 1px 1px 10px rgba(105, 105, 105, 0.6);
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_search_title {
    font-size: 200%;
  }
}
@media (max-width: 399px) {
  .header_search_title {
    font-size: 200%;
  }
}

.header_searchform input[type=search] {
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  font-size: 110%;
  color: #19D7C7;
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_searchform input[type=search] {
    font-size: 90%;
  }
}
@media (max-width: 399px) {
  .header_searchform input[type=search] {
    font-size: 90%;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D3D4D6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #D3D4D6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #D3D4D6;
}

/*focus input text color*/
.header_searchform input[type=search]:focus::-webkit-input-placeholder {
  color: #19D7C7;
  opacity: 0.2;
}

.header_searchform input[type=search]:focus::-moz-placeholder {
  color: #19D7C7;
  opacity: 0.2;
}

.header_searchform input[type=search]:focus:-ms-input-placeholder {
  color: #19D7C7;
  opacity: 0.2;
}

.header_searchform input[type=submit] {
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  font-size: 80%;
  color: white;
  letter-spacing: 1.5px;
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_searchform input[type=submit] {
    font-size: 70%;
  }
}
@media (max-width: 399px) {
  .header_searchform input[type=submit] {
    font-size: 70%;
  }
}

/* --- Content Section --- */
/* BIG TITLE */
.bigtitle {
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  font-size: 250%;
  letter-spacing: 1px;
  color: black;
  opacity: 0.7;
  margin-bottom: 30px;
}
@media (min-width: 400px) and (max-width: 414px) {
  .bigtitle {
    font-size: 210%;
  }
}
@media (max-width: 399px) {
  .bigtitle {
    font-size: 210%;
  }
}

/* Q&A CONTENT */
.question_title {
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
  font-size: 130%;
  text-align: center;
  color: #7B7B7B;
  margin-bottom: 20px;
}

.question_content {
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  text-align: center;
  color: #AAAAAA;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 95%;
}
@media (min-width: 400px) and (max-width: 414px) {
  .question_content {
    font-size: 85%;
  }
}
@media (max-width: 399px) {
  .question_content {
    font-size: 85%;
    text-align: left;
  }
}

.plus_btn,
.minus_btn {
  color: #fff;
  text-align: center;
}

.question,
.answer {
  font-size: 110%;
  letter-spacing: 0.5px;
  color: #7B7B7B;
}
@media (min-width: 415px) and (max-width: 766px) {
  .question,
  .answer {
    font-size: 95%;
    line-height: 20px;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .question,
  .answer {
    font-size: 90%;
    line-height: 20px;
  }
}
@media (max-width: 399px) {
  .question,
  .answer {
    font-size: 90%;
    line-height: 20px;
  }
}

.question {
  font-family: "F_REGULAR","F_REGULAR_CH","Arial","蘋果儷中黑","微軟正黑體";
}

.answer {
  font-family: "F_LIGHT","F_LIGHT_CH","Arial","蘋果儷中黑","微軟正黑體";
  line-height: 25px;
}

.question--active {
  color: #19D7C7;
}

/*---------------------------------------*/
/*---------------Chinese-----------------*/
/*--------------------------------------*/
/* header chinese */
.header_search_title_ch {
  font-family: "F_REGULAR_CH";
  letter-spacing: 8px;
}
@media (min-width: 415px) and (max-width: 766px) {
  .header_search_title_ch {
    font-size: 200%;
  }
}
@media (min-width: 400px) and (max-width: 414px) {
  .header_search_title_ch {
    font-size: 170%;
  }
}
@media (max-width: 399px) {
  .header_search_title_ch {
    font-size: 130%;
  }
}

.header_searchform_ch input[type=search] {
  font-family: "F_LIGHT_CH";
  letter-spacing: 2px;
}

.header_searchform_ch input[type=submit] {
  font-family: "F_LIGHT_CH";
  font-size: 90%;
  padding: 0 0 0 10px;
  letter-spacing: 7px;
}

/*focus input chinese*/
.header_searchform_ch input[type=search]:focus::-webkit-input-placeholder {
  font-family: "F_REGULAR_CH";
}

.header_searchform_ch input[type=search]:focus::-moz-placeholder {
  font-family: "F_REGULAR_CH";
}

.header_searchform_ch input[type=search]:focus:-ms-input-placeholder {
  font-family: "F_REGULAR_CH";
}

/*Content Section */
.bigtitle_ch {
  font-family: "F_REGULAR_CH";
  letter-spacing: 10px;
}
@media (max-width: 399px) {
  .bigtitle_ch {
    font-size: 190%;
    margin-bottom: 20px;
  }
}

.question_title {
  font-family: "F_REGULAR_CH";
  letter-spacing: 2px;
}

.question_ch {
  font-family: "F_REGULAR_CH";
}

.answer_ch {
  font-family: "F_LIGHT_CH";
  letter-spacing: 2px;
}

.question_content_ch {
  font-family: "F_LIGHT_CH";
  letter-spacing: 2px;
}
