@charset 'UTF-8';
body{
	font-size: 1em;
}
h1{
	color: #333333;
}
h3{
	font-size: 150%;
	color: #333333;
}
h4{
	font-size: 130%;
	line-height: 1.5em;
	color: #333333;
}
p{
	text-align: center;
	line-height: 1.3em;
}
a{
	color: #9D9D95;
	text-decoration: none;
}
a:hover{
	color: white;
}
ul li{
	float: left;
	margin-right: 2em;
}
/*button*/
.btn{
	border-radius: 0.35em;
	padding: 10px 15px;
}
.btn_default{
	background-color: #387EBB;
	border: #265074 1px solid;
	color: white;
}
.btn_default:hover{
	background-color: #306B9E;
	border: #2E6492 1px solid;
	cursor: pointer;
}
.btn_w{
	background-color: white;
	border: #C1C1C1 1px solid;
}
.btn_w:hover{
	background-color: #E8E8E8;
	cursor: pointer;
}
.firstbtn{
	margin-top: 15px;
}
/*header*/
.h_style{
	background-color: #222222;
	width: 100%;
	height: 50px;
	position: fixed;
}
.logo{
	float: left;
	font-size: 115%;
	margin-right: 2em;
}
.row01{
	width: 100%;
	height: 50px;
}
/*content*/
.content{
	float: left;
	width: 100%;
}
.textbox{
	width: 85%;
	margin: auto;
	padding-top: 60px;
}
.r02{/*box01 bgset*/
	background-color: #EEEEEE;
	border-radius: 0.35em;
	padding: 50px 50px 60px 50px;
}
/*hr*/
.hr01{
	margin: auto;
	padding-top: 25px;
}
hr{
	border: solid 1px #F4F4F4;
}
/*BOX COLUME*/
.b_title{
	margin: auto;
	padding: 30px 0 0 0;
	color: #333333;
}
.boxsec{
	margin: auto;
}
.col-pad{
	padding: 13px;
}

.boxhouse{
	border: 1px solid #CCCCCC;
}
.r_img{
	text-align: center;
}
img{
	width: 100%;
}
.r_h3{
	text-align: center;
	padding: 18px 0 13px 0;
}
.r_button{
	text-align: center;
	padding: 10px 0 15px 0;
}
/*FOOTER*/
.r_foot{
	margin: auto;
	font-size: 95%;
	padding: 50px 0 60px 0;
}
/*//////////DESkTOP//////////////*/
/*//////////DESkTOP//////////////*/
/*//////////DESkTOP//////////////*/
@media screen and (min-width: 1200px) {
h1{
	font-size: 380%;
	line-height: 1.5em;
}
h3{
	font-size: 150%;
}
ul li{
	line-height: 50px;
}
/*//////////////Header////////////////*/
.h_style{
	padding-left: 100px;
}
.logo{
	line-height: 50px;
}
.navbar{
	display: none;
}
/*/////////////Content///////////////*/
.textbox{
	width: 85%;
	margin: auto;
	padding-top: 60px;
}
/*///////////HR BOX//////////////////*/
.boxhouse{
	border-radius: 2%;
	padding: 4px;
}
.boxsec{
	width: 87%
}
.hr01,.b_title,.r_foot{
	width: 85%;
}
}
/*////////////====///////////////*/
/*////////////iPad///////////////*/
/*////////////====///////////////*/
@media screen and (min-width: 737px) and (max-width: 1199px){
/*Header*/
h1{
	font-size: 380%;
	line-height: 1.5em;
}
h3{
	font-size: 150%;
}
/*//////////////Header////////////////*/
.h_style{
	padding: 15px 50px;
}
.navbar{
	display: none;
}
/*/////////////Content///////////////*/
.textbox{
	width: 95%;
	margin: auto;
	padding-top: 60px;
}
/*///////////HR BOX//////////////////*/
.hr01,.b_title,.r_foot{
	width: 95%;
}
.boxhouse{
	border-radius: 2%;
	padding: 5px;
}
.boxsec{
	width: 97%
}
}
/*////////////====///////////////*/
/*////////////iPhone///////////////*/
/*////////////====///////////////*/
@media screen and (min-width: 200px ) and (max-width:736px ){
.navbar{
	display: block;
}
h1{
	font-size: 380%;
	line-height: 1.5em;
}
h3{
	font-size: 150%;
}
/*//////////////Header////////////////*/
.h_style{
	padding: 15px 15px;
}
ul li{
	display: none;
}
/*/////////////Content///////////////*/
.textbox{
	width: 95%;
	margin: auto;
	padding-top: 60px;
}
/*//////////////BOX///////////////*/
.hr01,.b_title,.r_foot{
	width: 95%;
}
.boxsec{
	width: 97%
}
.boxhouse{
	border-radius: 1%;
	padding: 7px;
}
}